<h1>Family Camp</h1>
<h2>Dates: July 14th - 18th, 2010</h2>
<h2>Theme: TBD</h2>
<div>

<h2>General Description</h2>
<p>Family Camp is a 5-day family event for all ages (includes 4 nights lodging & 10 meals prepared for you and served
  in the camp's dining room). It is a Christ-centered event where families can build relationships with another in a
  safe environment through interactive learning experiences (worship sessions, vespers & music), recreational activities
  (swimming in a pool, canoeing, paddle-boating, pond play, mud slides, hayrides, hiking, archery, campfires, etc.),
  crafts (T-shirt making; family crafts, etc.); and fellowship times (table games, jigsaw puzzles, table tennis, and more).
</p>

<h2>Mission Statement</h2>
  <p>"To grow families in Christ through Bible study, fellowship and fun, at a camp setting."</p>

<h2>Our Ten-Point Family Camp Philosophy (...what we believe):</h2>

<ol>
<li><strong>Christ-Centered Focus:</strong> We believe that in everything we do, and in the decisions we make, we
  must work toward achieving the goals of our Mission Statement. Therefore, our philosophies have been determined
  with that in mind.
-  "And whatever you do, whether in word or deed, do it all in the name of the Lord Jesus, giving thanks to God the Father through him." ~Colossians 3:17 (NIV)
</li>
<br />
<li><strong>Impact Event:</strong> We believe that when families take time away from their everyday routines,
  with particular goals in mind to impact their lives with spiritual growth, fun, and fellowship, they will
  return home feeling energized and recharged. Therefore, we commit to offering this annual family camp impact
  event for just such a purpose.
  -	"Stand at the crossroads and look... ask where the good way is, and walk in it, and you will find rest for your souls..."  ~Jeremiah 6:16 (NIV)
</li>
<br />
<li><strong>Ministry Leadership:</strong> We believe the most effective family camp ministry is not merely TO
  the family, but WITH the family. Therefore, we will select and invest in Christian family role models who are
  ready for leadership, and will equip them for building up and growing the family toward spiritual maturity in
  the Body of Christ.
  -	"Here is a trustworthy saying: If anyone sets his heart on being an overseer, he desires a noble task." ~I Timothy 3:1 (NIV)
</li>
<br />
<li><strong>Leadership Team Approach:</strong> We believe in the "TEAM approach" (Together Everyone Achieves More),
  and that God has gifted each of us differently with no one member of the team being more important than another.
  Therefore, we will strive to gain the insights of all involved, guided by Scripture, believing that the combined
  efforts of the group will create a stronger and healthier family camp ministry.
  -	"May the God who gives endurance and encouragement give you a spirit of unity among yourselves as you follow Christ Jesus, so that with one heart and mouth you may glorify the God and Father of our Lord Jesus Christ." ~Romans 15:5 (NIV)
</li>
<br />
<li><strong>Relational Ministry:</strong> We believe that every intergenerational family worship experience,
  class session, Bible Study, craft activity, recreational activity and fellowship gathering represents an
  opportunity to build a relationship with another family. Therefore we will offer such opportunities, realizing
  they may become a bridge for that family to also build a relationship with Christ Jesus.
  -	"You may be sure that wherever the good news is told all over the world, people will remember...and they will tell others." ~Matthew 26:13 (CEV)
</li>
<br />
<li><strong>Intergenerational/Active Learning Ministry:</strong> We believe that families may not remember "what
  we say", but they will remember "what they did". Therefore, we will teach, model and encourage active-learning
  opportunities where families can begin to develop positive skills and attitudes and mature in their faith
  ( i.e. Bible Studies; hands-on intergenerational worship experiences; group discussions; recreational
  interactions; family vespers; sharing talents; writing encouraging notes "warm fuzzies"; etc.)
  -	"Open my eyes to see wonderful things in your Word." ~Psalm 119:18 (Living Bible)
</li>
<br />
<li><strong>Family Involvement:</strong> We believe it is important for parents, extended family, and/or guardians
  to be involved in their children's growth as followers of Jesus Christ. Therefore, we will familiarize families
  with our ministry philosophies and goals and encourage them to build a stronger relationship with one another
  and with Jesus Christ.
  -	"Train a child in the way he should go, and when he is old he will not turn from it." ~Prov 22:6 (NIV)
  -	"By wisdom a house is built, and through understanding it is established; through knowledge its rooms are filled with rare and beautiful treasures." ~Proverbs 24:3-4 (NIV)
</li>
<br />
<li><strong>Family Service/Mission:</strong> We believe that service (contributing to the welfare of others) and
  mission (passing along the legacy of God's love) unite families in Christian love, and also help to develop
  spiritual maturity. Therefore, we encourage opportunities for families to reach out to one another with a
  servant's heart, and then to carry this legacy of God's love back to families in their local churches and communities.
  -	"And let us consider how we may spur one another on toward love and good deeds. Let us not give up meeting together as some are in the habit of doing, but let us encourage one another--and all the more as you see the Day approaching." ~Hebrews 10:24-25 (NIV)
</li>
<br />
<li><strong>Safe, Affirming Environment:</strong> We believe that in an increasingly dangerous world, our family camp
  ministry must offer a safe and affirming environment for all of the people entrusted to our care. Therefore, we will
  continually be vigilant to present an environment that is physically and emotionally safe and spiritually healthy.
  -	"In everything set them an example by doing what is good. In your teaching show integrity, seriousness and soundness of speech that cannot be condemned...~-Titus 2:7-8a (NIV)
</li>
<br />
<li><strong>Foundation of Prayer:</strong> We believe that nothing of eternal value can happen without prayer.
  Therefore, we will develop a foundation of prayer on which to build our family camp ministry (i.e. staff prayer
  chains; a staff/participant family prayer partnership; prayer board; mealtime prayers; and on-the-spot prayers
  on an "as needed" basis at the event).
  -	"Do not be anxious about anything, but in everything, by prayer and petition,with thanksgiving, present your request to God. And the peace of God which transcends all understanding, will guard your hearts and your minds in Christ Jesus." -Philippians 4:6-7(NIV)
</li>
</ol>

<h2>Our Four-Point Mission Strategy (...how we intend to carry out our Mission Statement)</h2>
<ol>
<li><strong>Outreach</strong> - As Jesus reached out to the masses in his Galilean ministry, we will offer an active
  OUTREACH FAMILY MINISTRY open to churched and unchurched families alike within the West Ohio Conference of the
  United Methodist Church, and to boundaries beyond where God may open doors of opportunity.
</li>
<br />
<li><strong>Fellowship</strong> - As Jesus had a flock of faithful followers, 72 of whom he trusted enough to send out
  ahead of him to prepare for his ministry (Luke 10:1), we will prepare for and offer FELLOWSHIP opportunities so that
  all families who attend will feel they share an important place in God's family to also become a faithful follower.
</li>
<br />
<li><strong>Faith Nurture</strong> - As Jesus chose twelve for a more in-depth ministry, we will offer a ministry that
  will provide FAITH NURTURING opportunities, so that families who attend will be able to grow in their relationship
  with Jesus Christ, their understanding of God's Word, and their ability to integrate their faith with their daily living.
</li>
<br />
<li><strong>Discipleship</strong> - As Jesus had three disciples with whom he had a personal friendship, this family camp ministry
  will offer DISCIPLESHIP opportunities through staff/participant family prayer partnerships, Family Focus groups
  (family small group interaction), and encouragement and affirmation for one's faith journey through one-on-one conversations.
</li>
</ol>
</div>
