<% content_for :navigation do %>
  <div id="login-form">
    <%= render :partial => 'sessions/login_form' %>
  </div>
  <ul>
    <li><a class="login" href="/login" target="#login-form">Staff Login</a></li>
  </ul>
<% end %>

<% content_for :header do %>
  <!-- need to fill the href with the full domain for vEvent -->
  <h1><a href="/" class="url summary">Northwest Plains District Family Camp</a></h1>
  <div class="meta">
    <p class="date">July 8th - 12th, 2009</p>
    <p class="location"><a href="#" title="Map of Widewater Retreat & Ministry Center">Widewater Retreat & Ministry Center. Liberty Center, OH</a></p>
  </div>
<% end %>

<h1>Getting Up The Family</h1>
<h2>Family Camp is an annual 5 day church camp your family to bond. At Family Camp we offer a variety of structured progamming including horseback riding and recreational activities. You and your family will also have plenty of free time to explore and relax.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>