<h2>Family Members</h2>

<% form.fields_for :participants do |pfields| %>
  <%= render :partial => 'participant_fields', :locals => { :pfields => pfields } %>
<% end -%>
<%= link_to_add_participant_fields "Add Another", form %>
