<hr />
<% fields_for_participant(participant) do |participant_form| %>
    <table>
      <tr>
        <td>
          <%= participant_form.radio_button :main_contact, 'true' %>
          <%= participant_form.label "Click if this person is the main contact for this family." -%>
        </td>
      </tr>
    </table>
    <table>
      <tr><td>
        <%= render :partial => "participants/form", :locals => {:participant_form => participant_form} -%>
      </td></tr>
    </table>
<% end %>