<hr />
<% fields_for_participant(participant) do |participant_form| %>
    <table>
      <tr>
        <td>
          <% if not new_form -%>
          <%= family_form.radio_button :main_contact_id, participant.id, 
                :checked => main_contact?(participant) %>
          <%= family_form.label "Click if this person is the main contact for this family." -%>
          <% end -%>
        </td>
      </tr>
    </table>
    <table>
      <tr><td>
        <%= render :partial => "participants/form", :locals => {:participant_form => participant_form} -%>
      </td></tr>
    </table>
<% end %>
