<h1>Family Detail</h1>

<% form_for @family, :html => {:multipart => true} do |form| %>
  <%= form.error_messages %>

  <%= render :partial => "form", 
             :locals => { :family_form => form, :new_form => false } -%>
  <p>
    <%= form.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', families_path %>
