<h1>Listing families</h1>

<table>
  <tr>
  </tr>

<% @families.each do |families| %>
  <tr>
    <td><%= link_to 'Show', families %></td>
    <td><%= link_to 'Edit', edit_families_path(families) %></td>
    <td><%= link_to 'Destroy', families, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New families', new_families_path %>