<h1>New families</h1>

<% form_for @family do |form| %>
  <%= render :partial => form -%>
  <p/>
  <%= form.submit 'Save' %>
  <%= form.submit 'Save then create another' %>
<% end -%>
<p/>
<%= link_to 'Back', families_path %>
