<h1>New family</h1>

<% form_for @family do |form| %>
  <%= render :partial => "form", 
             :locals => { :family_form => form, :new_form => true } -%>
  <p/>
  <%= form.submit 'Save' %>
  <%= form.submit 'Save then create another' %>
<% end -%>
<p/>
<%= link_to 'Back', families_path %>
