body {
  background:url(/images/body-bg.jpg) #86C9EF repeat-x top left;
  color:#2A1A05;
  font:0.95em/1.2 Arial, sans-serif;
}

tr.overload {
    background:#ff3366
    }
#messages {
  display:none;
}

  #messages {
    padding:1em;
    margin-bottom:1em;
  }

  #error_messages.error {
    padding: 20px;
    color:red;
    background:pink;
    border:2px solid red;
    margin-bottom: 20px;
  }

  #messages.success, #messages.notice {
    color:#030;
    background:#393;
    border:2px solid #030;
  }

/* IN CASE THERE'S EVER A NEED TO USE NOTICE FOR SOMETHING OTHER THAN SUCCESS
  #messages.notice {
    color:#33F;
    background:#86C9EF;;
    border:2px solid #33F;
  } */

#errorExplanation {
    color:red;
    background:pink;
    border:2px solid red;
    padding: 20px
}

#flash{
font-size:12px;
text-align:center;
}
.flash_html {
  display: block;
  text-align:center;
  bottom:0px;
  width:100%;
  z-index:1003;
  color:#F33;
  background-color:#000;
  padding:4px;

}
.flash_ajax{
display: block;
text-align:center;
position:fixed;
bottom:0px;
width:100%;
z-index:1003;
color:#ccc;
background-color:#000;
padding:4px;
}

body.homepage #container {
  width:560px;
}

#container {
  width:960px;
  margin:0 0 0 100px;
  clear:both;
}

#header {
  margin-top:4em;
  padding:0 3px 74px;
  background:url(/images/header-bg.png) transparent no-repeat bottom left;
}

  #header h1 {
    text-align:right;
    font-size:1.25em;
    margin-bottom:0.25em;
  }

  #header h1 a, #header h1 a:hover, #header h1 a:focus, #header h1 a:visited {
    text-decoration:none;
    color:#2A1A05;
  }

  #header .theme {
      text-align:right;
      font-size:1.25em;
      margin-bottom:0.25em;
  }

  #header .date {
    font-size:0.9em;
    text-align:right;
    margin-bottom:0;
  }

  #header .location {
    display:none;
  }

#header .registration_stats {
    position:relative;
    float:right;
    width:275px;
    height:45px;
    z-index:1;
    border:3px solid #B0BFC7;
    margin: 30px 30px 0px 0px;
    background:#DDEEFF;
    padding: 15px;
    font-size:1.3em;
    text-align:center;
    font-style: italic;
}

#main-nav {
  width:960px;
  margin:0 auto 0 100px;
}

#main-nav ul {
  float:left;
}

#main-nav li {
  float:left;
  display:block;
  position:relative;
  margin-right:3px;
}

#main-nav li a, #main-nav li a:visited {
  display:block;
  float:left;
  padding:0.5em 1em;
  background:#E0D2C2;
  border:3px solid #B0BFC7;
  border-top:none;
  text-decoration:none;
  color:#2A1A05;
}

#main-nav li a:hover, #main-nav li a:focus {
  color:#2A1A05;
  text-decoration:underline;
}


#main-nav li.hover a {
  position:relative;
  border-bottom:none;
  z-index:2;
}

#main-nav ul.pulldown {
  z-index:1;
  top:100%;
  left:0;
  width:250px;
  margin-top:-3px;
  position:absolute;
  visibility:hidden;
  background:#E0D2C2;
  border:3px solid #B0BFC7;
}

#main-nav ul.pulldown li {
  width:200px;
}

#main-nav ul.pulldown a {
  border:none;
  background:none;
  font-size:0.8em;
}

#main-nav li.hover ul {
  visibility:visible;
}

#login-form {
  width:250px;
  background:#E0D2C2;
  border:3px solid #B0BFC7;
  padding:2em 1em 0;
  display:none;
  margin-bottom:-3px;
  margin-top:-3px;
}

#content, #footer {
  padding:1em;
}

#content {
  background:#FFFFFF;
  border:3px solid #8EAFC2;
}

a.edit {
  width:80px;
  height:16px;
  display:block;
  float:left;
  background:url(/images/edit.png) no-repeat top left;
  text-indent:-9999px;
}

a.delete {
  width:80px;
  height:16px;
  display:block;
  float:left;
  background:url(/images/delete.png) no-repeat top left;
  text-indent:-9999px;
}

a.register {
  width:80px;
  height:16px;
  display:block;
  float:left;
  background:url(/images/register.png) no-repeat top left;
  text-indent:-9999px;
}

a.unregister {
  width:80px;
  height:16px;
  display:block;
  float:left;
  background:url(/images/unregister.png) no-repeat top left;
  text-indent:-9999px;
}

div.data-entry {
    width:95%;
    background:#f8f4ec;
    border:2px solid #B0BFC7;
    padding:1em;
    margin-bottom:13px;
    margin-top:3px;
    font-weight:bold;
}

div.data-entry-form {
    width:95%;
    background:#FFFFFF;
    border:1px solid #B0BFC7;
    padding:0.5em 1em;
    margin-bottom:3px;
    margin-top:3px;
    font-weight:normal;
}

.more_info {
  display:none;
}

.ui-dialog #review_participant {
    font: 0.75em/1.2 Arial,sans-serif;
}

table {
    border:2px solid  #ecf2f6;
    padding:3px;
}

table tr th {
    background:url(/images/table-header-bg.jpg) #FFFFFF repeat-x top left;
    height:35px;
    vertical-align:middle;
    border:1px solid #cfdae3;
    padding:3px;
}

table tr td {
    border:1px solid #cfdae3;
    padding:2px;
}

th.wide {
    width:400px;
}

tr.even {
    background-color: #FFFFFF;
}

tr.odd {
    background-color: #ecf2f6;
}

table.field, tr.field, td.field {
    background-color: #EEEEEE;
}

table.past_info, table.current_info {
  display: inline;
}

img.pictureframe {
    margin:11px;
    padding:2px;
    border-left: 4px solid #FFFFFF;
    border-top: 4px solid #FFFFFF;
    border-right: 5px solid #DCDCDC;
    border-bottom: 5px solid #BEBEBE;
    background-color:#696969;
}

img.portrait {
    width:400px;
    height:300px;
}

img.landscape {
    width:300px;
    height:400px;
}

/* Audit Styles */

div.audit {
  background-color: #D1E4EF;
  padding: 5px 10px;
  margin: 0 0 10px 0;
}

div.audit p {
  padding: 0;
}

tr.birthday-in-camp {
  font-weight: bold;
}
