body {
  background:url(/images/body-bg.jpg) #86C9EF repeat-x top left;
  color:#2A1A05;
  font:0.95em/1.2 Arial, sans-serif;
}

#messages {
  display:none;
}

  #messages {
  	padding:1em;
  	margin-bottom:1em;
  }

  #messages.error {
  	color:red;
  	background:pink;
  	border:2px solid red;
  }

  #messages.success, #messages.notice {
    color:#030;
    background:#393;
    border:2px solid #030;
  }

/* IN CASE THERE'S EVER A NEED TO USE NOTICE FOR SOMETHING OTHER THAN SUCCESS 
  #messages.notice {
    color:#33F;
    background:#86C9EF;;
    border:2px solid #33F;
  } */

#errorExplanation {
  	color:red;
  	background:pink;
  	border:2px solid red;
}

#flash{
font-size:12px;
text-align:center;
}
.flash_html {
	display: block;
	text-align:center;
	bottom:0px;
	width:100%;
	z-index:1003;
	color:#F33;
	background-color:#000;
	padding:4px;

}
.flash_ajax{
display: block;
text-align:center;
position:fixed;
bottom:0px;
width:100%;
z-index:1003;
color:#ccc;
background-color:#000;
padding:4px;
}

#container {
  width:560px;
  margin:0 0 0 100px;
  clear:both;
}

#header {
  margin-top:4em;
  padding:0 3px 74px;
  background:url(/images/header-bg.png) transparent no-repeat bottom left;
}

  #header h1 {
    text-align:right;
    font-size:1.25em;
    margin-bottom:0.25em;
  }
  
  #header h1 a, #header h1 a:hover, #header h1 a:focus, #header h1 a:visited {
    text-decoration:none;
    color:#2A1A05;
  }

  #header .date {
    font-size:0.9em;
    text-align:right;
    margin-bottom:0;
  }
  
  #header .location {
    display:none;
  }

#main-nav {
  position:absolute;
  top:0;
  width:560px;
  margin:0 0 0 100px;
}
  #main-nav span {
    float:right;
    padding:0.5em 1.0em;
  }

  #main-nav ul {
    clear:left;
    float:right;
    margin-bottom:1em;
  }

    #main-nav ul li {
      list-style-type:none;
      float:left;
      margin-right:3px;
    }
    
  #main-nav a, #main-nav a:visited {
    background:#E0D2C2;
    color:#2A1A05;
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    border:3px solid #B0BFC7;
    border-top-width:0px;
    padding:0.5em 1.0em;
    display:block;
    text-decoration:none;
  }
  
  #login-form {
    display:none;
    padding:1.5em 2em 0.5em;
    float:left;
    background:#E0D2C2;
    border:3px solid #B0BFC7;
    margin-bottom:-3px;
    margin-top:-3px;
    -moz-border-radius-bottomright:15px;
    -webkit-border-bottom-right-radius:15px;
  }

#content, #footer {
  padding:1em;
}

#content {
  background:#FFFFFF;
  border:3px solid #8EAFC2;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}

a.edit {
  width:16px;
  height:16px;
  display:block;
  float:left;
  background:url(/images/pencil.png) no-repeat top left;
  text-indent:-9999px;
}

a.delete {
  width:16px;
  height:16px;
  display:block;
  float:left;
  background:url(/images/cross.png) no-repeat top left;
  text-indent:-9999px;
}