body {
  background:url(/images/body-bg.jpg) #86C9EF repeat-x top left;
  color:#2A1A05;
  font:0.95em/1.2 Arial, sans-serif;
}

#container {
  width:560px;
  margin:0 0 0 100px;
  clear:both;
}

#header {
  padding:0 3px 74px;
  background:url(/images/header-bg.png) transparent no-repeat bottom left;
}

  #header h1 {
    text-align:right;
    font-size:1.25em;
    margin-bottom:0.25em;
  }
  
  #header h1 a, #header h1 a:hover, #header h1 a:focus, #header h1 a:visited {
    text-decoration:none;
    color:#2A1A05;
  }

  #header .date {
    font-size:0.9em;
    text-align:right;
    margin-bottom:0;
  }
  
  #header .location {
    display:none;
  }

#navigation {
  width:560px;
  margin:0 0 0 100px;
}

  #navigation ul {
    float:left;
    background:#E0D2C2;
    -moz-border-radius-bottomright:15px;
    -moz-border-radius-bottomleft:15px;
    -webkit-border-bottom-right-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    border:3px solid #B0BFC7;
    border-top-width:0px;
    margin-bottom:1em;
    padding:0.5em 2em;
  }

    #navigation ul li {
      list-style-type:none;
      float:left;
    }

  #navigation a, #navigation a:visited {
    color:#2A1A05;
    text-decoration:none;
  }

#content, #footer {
  padding:1em;
}

#content {
  background:#FFFFFF;
  border:3px solid #8EAFC2;
  -moz-border-radius:15px;
  -webkit-border-radius:15px;
}