<h1>Listing participants</h1>

<table>
  <tr>
  </tr>

<% @participants.each do |participant| %>
  <tr>
    <td><%= link_to 'Show', participant %></td>
    <td><%= link_to 'Edit', edit_participant_path(participant) %></td>
    <td><%= link_to 'Destroy', participant, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add new participant', new_participant_path %>
