<h1>New participants</h1>

Do you want to
<%= link_to 'Add a New family', new_family_path %>

<p />
- OR -
<p />
Add someone to one of these families:
<% form_tag(url_for(:action => :new_choose_family)) do %>
    <%= render :partial => 'families/family_choices', :locals => {:families => @families} %>
    <br />
    <%= submit_tag "OK" %>
<% end %>
