<h1>New participants</h1>

<%= render :partial => "form", :locals => {:submit_button_text => "Save"} %>

<!-- Add a "Save and create another" button here -->

<%= link_to 'Back', participants_path %>
