<h1>Change Password</h1>

<% form_for @user, :url => change_password_user_path(@user) do |form| %>
<%= render :partial => 'change_password_form', :locals => { :form => form } %>
<%= submit_tag 'Change password' %>
<% end %>