<h1>Change information about a staff person</h1>

<%= error_messages_for :user %>

<% form_for User.new, :html => {:multipart => true} do |form| -%>
<%= render :partial => form %>
<p><%= submit_tag 'Create Staff Member' %></p>
<% end -%>
