<div style="text-align:center">
  <h3>Thanks for contacting us!</h3>
  <p>We'll get back to you soon.</p>
</div>

<script type="text/javascript" charset="utf-8">
  setTimeout(function() {
    $.fancybox.close();
  }, 5000);
</script>