<h1>Forgotten Password</h1>
<% form_tag :action => 'retrieve_question' do %>
<p><%= label_tag 'login', 'Username: ' %>
<%= text_field_tag 'login', nil %></p>

<p><%= submit_tag 'Retrieve question' %></p>
<% end %>