<h1>Edit current Configuration</h1>
<% form_for :config, @config do |form| -%>
  <table>
    <tr>
      <th>Year</th>
    </tr>
    <tr>
      <td>
        <%= form.text_field "year" -%>
      </td>
    </tr>
    </table>
  <%= form.submit 'Save' -%>
<% end -%>
