<h1>Edit current Configuration</h1>
<% form_for :config, @config, :url => {:action => 'update'} do |form| -%>
  <table>
    <tr>
      <th>Year</th><th>Date Description</th><th>Theme</th>
    </tr>
    <tr>
      <td>
        <%= form.text_field "year" -%>
      </td>
      <td>
        <%= form.text_field "dates" -%>
      </td>
      <td>
        <%= form.text_field "theme" -%>
      </td>
    </tr>
    </table>
  <%= form.submit 'Save' -%>
<% end -%>
