<h1>Edit Camp Years</h1>
<% form_for :years do |form| %>
    <% @years.each_with_index do |year, i|  %>
        <%= render :partial => "form_fields", :locals => {:year => year, :index => i} -%>
    <% end -%>
    <%= form.submit 'Save' -%>
    <%= submit_tag "Add New", :type => 'button',
                               :onclick => 'addAnotherYear();' %>
<% end -%>

<% javascript_tag do %>
    function addAnotherYear() {
        new_row = $("#year_row_").clone(true);
        // TODO set new id
        number_of_rows = $("[name='camp_year']").size();

        // clear out values in new row
        row_inputs = new_row.find('input');
        for(i in row_inputs) {
            row_inputs[i].value="";
        }
    
        new_row.insertAfter("#year_table_header");
    }
<% end %>