<h1>Birthdays</h1>
<table>
  <% @participants_by_birth_month.keys.sort.each do |month| %>
    <tr><th class="wide"><%= month %></th></tr>
    <% @participants_by_birth_month[month].each_with_index do |participant, i| %>
      <tr class="<%= ContentHelper.rowstyle(i) %>">
        <td>
          <%= "#{participant.birthdate.day} #{participant.fullname}" %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>