<h1>Registrations by Age</h1>
<table>
  <% @participants_by_age.keys.sort.each do |key| %>
    <tr><th class="wide"><%= key %></th></tr>
    <% @participants_by_age[key].each_with_index do |participant, i| %>
      <tr>
        <td>
          <%= "#{i+1}. #{participant.fullname}" %>
          <% unless participant.hide_age? %><%= "(#{participant.age})" %><% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>