<h2>General Description</h2>
<p>Family Camp is a 5-day family event for all ages (includes 4 nights lodging & 10 meals prepared for you and served
  in the camp's dining room). It is a Christ-centered event where families can build relationships with another in a
  safe environment through interactive learning experiences (worship sessions, vespers & music), recreational activities
  (swimming in a pool, canoeing, paddle-boating, pond play, mud slides, hayrides, hiking, archery, campfires, etc.),
  crafts (T-shirt making; family crafts, etc.); and fellowship times (table games, jigsaw puzzles, table tennis, and more).
</p>

<div class="span-24 images">
  <div class="span-24 row">
    <div class="span-6 prepend-2 append-1"><a href="http://farm4.static.flickr.com/3440/3927505719_05bbf1c9e4.jpg" title="worship"><img src="http://farm4.static.flickr.com/3440/3927505719_05bbf1c9e4.jpg" alt="worship" /></a></div>
    <div class="span-6 append-1"><a href="http://farm3.static.flickr.com/2495/3787909466_0064738f3c.jpg" title="worship leader"><img src="http://farm3.static.flickr.com/2495/3787909466_0064738f3c.jpg" alt="worship leader" /></a></div>
    <div class="span-6 append-2 last"><a href="http://farm3.static.flickr.com/2598/3787931880_12f47f833d.jpg" title="swimming pool"><img src="http://farm3.static.flickr.com/2598/3787931880_12f47f833d.jpg" alt="swimming pool" /></a></div>
  </div>
  <div class="span-24 row">
    <div class="span-6 prepend-2 append-1"><a href="http://farm3.static.flickr.com/2483/3787116329_6d19f0c1db.jpg" title="canoeing"><img src="http://farm3.static.flickr.com/2483/3787116329_6d19f0c1db.jpg" alt="canoeing" /></a></div>
    <div class="span-6 append-1"><a href="http://farm3.static.flickr.com/2552/3787095401_5cdeb94dcf.jpg" title="pond play"><img src="http://farm3.static.flickr.com/2552/3787095401_5cdeb94dcf.jpg" alt="pond play" /></a></div>
    <div class="span-6 append-2 last"><a href="http://farm4.static.flickr.com/3453/3927523613_ab241e9ebd.jpg" title="train"><img src="http://farm4.static.flickr.com/3453/3927523613_ab241e9ebd.jpg" alt="train" /></a></div>
  </div>
  <div class="span-24 row">
    <div class="span-6 prepend-2 append-1"><a href="http://farm4.static.flickr.com/3474/3928288010_59fa371cf2.jpg" title="crafts"><img src="http://farm4.static.flickr.com/3474/3928288010_59fa371cf2.jpg" alt="crafts" /></a></div>
    <div class="span-6 append-1"><a href="http://farm3.static.flickr.com/2575/3787108383_a136a36dc2.jpg" title="group photo"><img src="http://farm3.static.flickr.com/2575/3787108383_a136a36dc2.jpg" alt="group photo" /></a></div>
    <div class="span-6 append-2 last"><a href="http://farm3.static.flickr.com/2637/3928305058_c504b0d497.jpg" title="singing"><img src="http://farm3.static.flickr.com/2637/3928305058_c504b0d497.jpg" alt="singing" /></a></div>
  </div>
  <div class="span-24 row">
    <div class="span-6 prepend-2 append-1 last"><a href="http://farm3.static.flickr.com/2534/3928304422_b643607db7.jpg" title="singing"><img src="http://farm3.static.flickr.com/2534/3928304422_b643607db7.jpg" alt="singing" /></a></div>
  </div>
</div>