<h2>Widewater Retreat and Ministry Center</h2>
<h3>Liberty Center, Ohio</h3>

<div class="span-24 images">
  <div class="span-11 prepend-1"><img class="pictureframe portrait" src="http://farm4.static.flickr.com/3217/2720843413_1487b54a43.jpg" alt="building_front" /></div>
  <div class="span-11 append-1 last"><img class="pictureframe portrait" src="http://farm4.static.flickr.com/3165/2720845799_366c4ac9ba.jpg" alt="building_back" /></div>

</div>
