<h2>How to Register</h2>

<ul>
  <li>1. Print and fill out the registration form (see below).
  <li>2. Mail the form, along with your payment, to the address on the form.
</ul>

<a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B9QUiwzSH4ndNjRmNjAyZjctYzE2MC00MzM5LWE4NTMtYTc3ODUyZjEyMWE0&hl=en&authkey=CNaR25UP">Click here to download the 2011 Registration Form in PDF format (~100KB)</a>
<br />
<a href="https://docs.google.com/viewer?a=v&pid=explorer&chrome=true&srcid=0B9QUiwzSH4ndNDUwOTQ5YTktN2ZiNS00YWMzLWEwNzMtZDNiNjdjN2QxMmFi&hl=en&authkey=CJWqie0G">Click here to download the 2011 Registration Form in MS Word format (~50KB)</a>
