<h2>How to Register</h2>

<ul>
  <li>1. Print and fill out the registration form (see below).
  <li>2. Mail the form, along with your payment, to the address on the form.
</ul>

<a href="<%=@pdf%>">Click here to print or download the <%=@year %> Registration Form in PDF format (~30KB)</a>
<br />
<a href="<%=@doc%>">Click here to print or download the <%=@year %> Registration Form in MS Word format (~50KB)</a>
