<h2>Testimonials</h2>

<div class="span-24">
  <div class="quote">
    <blockquote>
      <p>Following a rather energizing morning at one of the family camps, a mother commented, "You know, it really feels good to know that while I'm resting, my children are off playing with the children of other families and I don't have to worry about them because I know they're under a watchful eye." Knowing the person speaking, I also knew that she was not one to hold such a nonchalant attitude about her children.</p>
      <p>Attending her second family camp with her family, she was speaking in a sincere way of the trust and confidence she felt at that family camp. She is also one of the parents who had served voluntarily as one of the "entrusted ones."</p>
      <p>Family camps are more important now than they have ever been, in my way of thinking. Today's families need good role models of Christian family living. The problem is, there aren't enough family camps to go around!!</p>
    </blockquote>
    <p class="cite">~Freshour Family, Columbus, OH</p>
  </div>
</div>

<div class="span-14">
  <div class="quote">
    <blockquote>
      <p>Family Camp was great! Having never been to camp before, I wasn't sure what to expect; even more so since this was family camp and it was my idea that we try it. In other words, I knew I would have to take the blame if it turned into a fiasco. Just the opposite was true. We all decided that we had as much fun at family camp doing simple, together things, as we did at Disney World doing some more expensive things.</p>
      <p>Having been to Florida for our first real family vacation last fall, I fully expected to come home from family camp with that same feeling of "boy, do I need some time alone after that!" What really happened was that I came home feeling more relaxed than I ever have. I was able to enjoy my family without worrying about what the next meal would be or how we would keep ourselves entertained for the next hour. That was all planned for us in advance and I could enjoy my family without any thought to what was happening next. Everything from the food, to the accommodations, to the activities was great and the friendships that were begun were an added bonus.</p>
      <p>I would highly recommend that any family consider going to camp together, no matter what the age of the kids. I know it is an experience I will never forget and one I look forward to repeating again next summer.</p>
    </blockquote>
    <p class="cite">~Stansfield Family, Whitehouse, OH</p>
  </div>
</div>

<div div class="span-8 prepend-2 last">
  <div class="quote">
    <blockquote>
      <p>I just wanted to let you all know that we had a great experience at Family Camp this year-and appreciate all the hard work that you put into making it special. We enjoyed getting to know some of you and look forward to getting to know all of you better! There just wasn't enough time! But we'll try to make more time next year... and maybe through writing, etc. we can know each other even a little better next year!</p>
      <p>It's great to know that Family Camp is undergirded by prayer-and very touching to know that we were prayed for even before you knew us! That's really being the Body of Christ! Thank you!</p>
      <p>To all of you, again, thank you for welcoming us to Family Camp. It's a joy to get to know others who love the Lord and who are fostering Christian families.</p>
    </blockquote>
    <p class="cite">~Gaiser Family, Miamisburg, OH</p>
  </div>
</div>

<div class="span-24">
  <div class="quote">
    <blockquote>
      <p>Family camp was great! You've created just the right balance of fun and spiritual recharging.</p>
      <p>My memory of church camp is lonely time away from family, with not much to do, forced to do something I didn't want, and not understanding or relating to any of the Bible teachings. Something was missing. I didn't want to put my kids through the same experience. You've found what was missing. Having your family with you at camp makes it less stressful and allows the kids to explore other friendships.</p>
      <p>There were things to do, fun things to do! Things the kids wanted to do, and yup even things I wanted to do. The kids liked the paddleboats, canoes and pool. Sally really liked the swim Olympics-I think it was the diving for money she liked. I liked the archery-I was surprised you had that (someone put a lot of time into that range). The older kids enjoyed the time away from parents at the "barn activities." Wonderful things to do!</p>
      <p>Meaningful spiritual recharging, and fun! The older kids related to [Bruce] their leader and what they learned. Sally liked her time and was excited to tell us about it. All the morning and evening worship had an impact on me. Building boats, getting lost with made-up directions, fishing for truth-what a fun way to remember teachings!</p>
      <p>I had to miss the talent show, but the family tells me the skits, music, and singing were fun! I liked the "Finding Treasure" musical and it was something special. I've never heard kids sing so loudly! ... it's a special talent, I think it's called love.</p>
      <p>Did the "first-timers" like it? You bet, and we want to go again next time. If there's anything the camp needs or we can do to help, let us know.</p>
    </blockquote>
    <p class="cite">~Hause Family, Findlay, OH</p>
  </div>
</div>

