<h2>How to Register</h2>

<ul>
  <li>1. Print and fill out the registration form (see below).
  <li>2. Mail the form, along with your payment, to the address on the form.
</ul>

<a href="http://docs.google.com/uc?export=download&id=0B9GOjiTVcHM8Y2E5MWYyMWUtYTVjMC00ZjNiLWExMTUtZTQ1NjkxYTAzMTBm">Click here to download the 2010 Registration Form in PDF format (~100KB)</a>
<br />
<a href="http://docs.google.com/uc?export=download&id=0B9GOjiTVcHM8Yzk3ODVhNjktNTJjNS00OTEyLTkzMWUtMTNkNzQwM2I0YWY0">Click here to download the 2010 Registration Form in MS Word format (~50KB)</a>
