<h2>How to Register</h2>

<ul>
  <li>1. Print and fill out the
    <a href="http://docs.google.com/Doc?docid=0AbQ-0cTqOONsZHdwY3F3el8xNmd0NnA2bWZz&hl=en">registration form</a>
    and mail it to the address on the form. </li>
  <li>2. Fill out the
    <a href="http://docs.google.com/Doc?docid=0AbQ-0cTqOONsZHdwY3F3el8xNWc4djlka2M5&hl=en">family information form</a>
    and mail or email it to the address on the form. </li>
</ul>