<% %w[about mission philosophy facilities how_to_register testimonials].each do |section| %>
    <div id="<%= section %>" class="span-24 section">
      <%= render :partial => "content/#{section}" %>
    </div>
<% end %>

<script type="text/javascript" charset="utf-8">
    jQuery(function($) {
        $("#about .images a").attr("rel", "about_group").fancybox({'titlePosition' : 'over'});
        $("#navigation a[href*=contacts]").fancybox({
            'width' : '75%',
            'height' : '75%',
            'padding': 20,
            'transitionIn' : 'elastic',
            'transitionOut' : 'elastic',
            'autoScale' : false,
            'type' : 'ajax'
        });
    });
</script>