<h1>Family Camp</h1>
<h2>Dates: July 14th - 18th, 2010</h2>
<h2>Theme: TBD</h2>
<div>

<h2>General Description</h2>
<p>Family Camp is a 5-day family event for all ages (includes 4 nights lodging & 10 meals prepared for you and served
  in the camp's dining room). It is a Christ-centered event where families can build relationships with another in a
  safe environment through interactive learning experiences (worship sessions, vespers & music), recreational activities
  (swimming in a pool, canoeing, paddle-boating, pond play, mud slides, hayrides, hiking, archery, campfires, etc.),
  crafts (T-shirt making; family crafts, etc.); and fellowship times (table games, jigsaw puzzles, table tennis, and more).
</p>

<img class="pictureframe portrait" src="http://farm3.static.flickr.com/2552/3787095401_5cdeb94dcf.jpg">
<img class="pictureframe portrait" src="http://farm3.static.flickr.com/2575/3787108383_a136a36dc2.jpg">
<img class="pictureframe portrait" src="http://farm3.static.flickr.com/2483/3787116329_6d19f0c1db.jpg">
<img class="pictureframe portrait" src="http://farm3.static.flickr.com/2598/3787931880_12f47f833d.jpg">

</div>
