<h1 id="landing_title">Family Camp</h1>
<h2 id="landing_dates">Dates: <%= Configuration.current.date_range %></h2>
<h2 id="landing_theme">Theme: <%= "#{Configuration.current.theme}" %></h2>

<div>

<h2>General Description</h2>
<p>Family Camp is a 5-day family event for all ages (includes 4 nights lodging & 10 meals prepared for you and served
  in the camp's dining room). It is a Christ-centered event where families can build relationships with another in a
  safe environment through interactive learning experiences (worship sessions, vespers & music), recreational activities
  (swimming in a pool, canoeing, paddle-boating, pond play, mud slides, hayrides, hiking, archery, campfires, etc.),
  crafts (T-shirt making; family crafts, etc.); and fellowship times (table games, jigsaw puzzles, table tennis, and more).
</p>

  <img class="pictureframe portrait" src="http://farm4.static.flickr.com/3440/3927505719_05bbf1c9e4.jpg" alt="worship">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2495/3787909466_0064738f3c.jpg" alt="worship leader">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2598/3787931880_12f47f833d.jpg" alt="swimming pool">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2483/3787116329_6d19f0c1db.jpg" alt="canoeing">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2552/3787095401_5cdeb94dcf.jpg" alt="pond play">
  <img class="pictureframe portrait" src="http://farm4.static.flickr.com/3453/3927523613_ab241e9ebd.jpg" alt="train">
  <img class="pictureframe portrait" src="http://farm4.static.flickr.com/3474/3928288010_59fa371cf2.jpg" alt="crafts">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2575/3787108383_a136a36dc2.jpg" alt="group photo">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2637/3928305058_c504b0d497.jpg" alt="singing">
  <img class="pictureframe portrait" src="http://farm3.static.flickr.com/2534/3928304422_b643607db7.jpg" alt="singing">

</div>
