<h1>Family Camp</h1>
<h2>Dates: July 14th - 18th, 2010</h2>
<h2>Theme: TBD</h2>
<div>

<h2>General Description</h2>
<p>Family Camp is a 5-day family event for all ages (includes 4 nights lodging & 10 meals prepared for you and served
  in the camp's dining room). It is a Christ-centered event where families can build relationships with another in a
  safe environment through interactive learning experiences (worship sessions, vespers & music), recreational activities
  (swimming in a pool, canoeing, paddle-boating, pond play, mud slides, hayrides, hiking, archery, campfires, etc.),
  crafts (T-shirt making; family crafts, etc.); and fellowship times (table games, jigsaw puzzles, table tennis, and more).
</p>
</div>
