<div>
<h2>Mission Statement</h2>
  <p>"To grow families in Christ through Bible study, fellowship and fun, at a camp setting."</p>


<h2>Our Four-Point Mission Strategy (...how we intend to carry out our Mission Statement)</h2>
<ol>
<li><strong>Outreach</strong> - As Jesus reached out to the masses in his Galilean ministry, we will offer an active
  OUTREACH FAMILY MINISTRY open to churched and unchurched families alike within the West Ohio Conference of the
  United Methodist Church, and to boundaries beyond where God may open doors of opportunity.
</li>
<br />
<li><strong>Fellowship</strong> - As Jesus had a flock of faithful followers, 72 of whom he trusted enough to send out
  ahead of him to prepare for his ministry (Luke 10:1), we will prepare for and offer FELLOWSHIP opportunities so that
  all families who attend will feel they share an important place in God's family to also become a faithful follower.
</li>
<br />
<li><strong>Faith Nurture</strong> - As Jesus chose twelve for a more in-depth ministry, we will offer a ministry that
  will provide FAITH NURTURING opportunities, so that families who attend will be able to grow in their relationship
  with Jesus Christ, their understanding of God's Word, and their ability to integrate their faith with their daily living.
</li>
<br />
<li><strong>Discipleship</strong> - As Jesus had three disciples with whom he had a personal friendship, this family camp ministry
  will offer DISCIPLESHIP opportunities through staff/participant family prayer partnerships, Family Focus groups
  (family small group interaction), and encouragement and affirmation for one's faith journey through one-on-one conversations.
</li>
</ol>
</div>