<h2>What's New for <%= @year %>!</h2>

<div class="span-24">
  <h4>Theme: <%= @theme %></h4>

  <div class="row">
    Our Heavenly Father has a camp, J-E-S-U-S; and at Widewater there are some familyl campers, J-E-S-U-S.
  </div>

  <div class="row">
    There are vespers here & canoeing there, here a kickball, there some archery, plus worship time where you can share.
    There's a camp fire here, & some crafts there, here a swimming, there some volleyball, it makes for a good time everywhere.
  </div>

  <div class="row">
    Our Heavenly Father has a camp, J-E-S-U-S.
  </div>

  <div class="row">
    <%= link_to "How to register? Click here!", "#{root_url}#facilities" %>.
  </div>
</div>

