<h2>What's New for <%= @year %>!</h2>

<div class="span-24">
  <h4>Theme: Family Fitness. Spirit, Mind, Body.</h4>

  <div class="row">Come to family camp where families will get pumped up during Family Fitness.
    Work out your spirit at a candlelight service and vespers.
    Renew your mind by worshiping God through intergenerational worship and age-level sessions.
    Tone your body and flex your muscles at the mud pit during pond play, or swimming in the pool,
    archery, family olympics, canoeing, volleyball, hayrides, crafts, and much more.  </div>

  <div class="row">On your Mark, Get Set, Go <%= link_to "register for family camp", "#{root_url}#facilities" %>!</div>
</div>

<div class="span-24 row">
  <h4>Something for new families!</h4>
  There will be an opportunity for a hayride on arrival day to help get acquainted with the family camp facilities.
</div>


<div class="span-24">
  <h4>The family camp 5k fun run/walk</h4>
  <div class="row">
    A fun run/walk will be featured this year for anyone interested in participating.
    Participants are asked to bring a donation of 1 canned good or non-perishable food item per family.
    Registration donations to go to the local food pantry.
  </div>
  <div class="row">Kids 4th grade and under will have an opportunity to participate in their own fun walk/run with
    spotters posted to watch them participant. </div>

  <div class="quote span-16 prepend-4">
    <p class="cite"><strong>1 Corinthians 9:24 (ESV)</strong> Do you not know that in a race all the runners run,
        but only one receives the prize? So run that you may obtain it.</p>
  </div>

  <div class="span-24 row">
  <strong>~ Prizes may include ~</strong>
  <ul>
    <li>Oldest participant</li>
    <li>Most participants from a single family</li>
    <li>Best costume </li>
    <li>Best running socks </li>
    <li>Perseverance award - last one to finish </li>
  </ul>
  </div>

</div>

<div class="span-24">
  <div class="row"><h4>A family camp talent show</h4> happens later in the week.  Bring music,
    props, instruments, etc. if you wish to participate.  Not offered every year, but when offered it is a huge success!
  </div>
</div>
