<h2>What's New for <%= @year %>!</h2>

<div class="span-24">
  <h4>Theme: CHRISTmas in July, It All Began With a Family.</h4>

  <div class="row">Come to family camp where families will get pumped up during Family Fitness.
    What camp is this that meets in July to celebrate the birth of Jesus?  Our focus is Christ and what he has done, at vespers and classes we will worship the Son.
  </div>

  <div class="row">
    Activities such as archery, crafts and swimming for you, volleyball, kickball, and canoeing too. There are more things to do than you can count, so plan on coming to camp and you will find out.
  </div>

  <div class="row">
    Haste, haste, to <%= link_to "register for family camp", "#{root_url}#facilities" %>. 
	To reserve your place, send it by May 9, 2014, please don't delay.   
  </div>
</div>

