<% if logged_in? %>
  <ul>
    <li><%= link_to 'Logout', logout_url, :controller => :sessions, :action => :destroy -%></li>
  </ul>
  <span><%= greeting %></span>
<% else %>
  <div id="login-form">
    <%= render :partial => 'sessions/login_form' %>
  </div>
  <ul>
    <li><a class="login" href="/login" target="#login-form">Staff Login</a></li>
  </ul>
<% end %>